* {
	margin: 0;
}

body {
	background: url(../pictures/USA-Debt.png) no-repeat center center fixed;
	background-size: cover;
}

.usa_debt_container {
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	perspective: 1500px;
}

.usa_debt_block__title {
	color: #4e5252;
}

#odometer {
	width: 90%;
}

.usa_debt_block__img {
	display: block;
	position: relative;
	margin: 15px auto 25px;
	width: 100%;
}

.usa_debt_block {
	transform: rotateX(30deg);
	box-shadow: 0 0 2.2em 0.2em #6a393d;
	width: 77%;
	border: 3px solid #6a393d;
	border-radius: 24px;
	background-color: #d6d7da;
	display: inline-block;
}

#level_container {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	height: 100px;
}

#text_container {
	font-family: "Helvetica Neue", sans-serif;
	width: 500px;
	margin-left: 1.8%;
}

#text_lvl {
	font-family: "Helvetica Neue", sans-serif;
	font-weight: normal;
}

body, html {
	height: 100%;
	width: 100%;
}

/* .usa_debt_block-header{
	position: relative;
	bottom: 82px;
	left: 132px;
	background: #d5d8da;
	border-radius: 24px;usa_debt_blockusa_debt_block
	width: 73%;
} */

.usa_debt_container-banner {
	width: 100%;
	display: block;
	justify-content: center;
}

.usa_debt_container-banner__header {
	transform: rotateX(30deg);
	display: inline-block;
	background-color: #d5d8da;
	border: 3px solid #9e9498;
	border-radius: 11px;
	width: 55%;
	position: relative;
	top: 2.5vw;
	z-index: 1;
}

.usa_debt_container-banner__header-text{
	font-size: 4vw;
	color: #4e5252;
	font-weight: bold;
	font-family: Tahoma;
}