#usa_debt_container{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  perspective: 1500px;
}

#level_container{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  height: 100px;
}
#text_container{
  font-family: "Helvetica Neue", sans-serif;

  width: 500px;
  margin-left: 1.8%;
}
#text_lvl{
  font-family: "Helvetica Neue", sans-serif;
  font-weight: normal;
}
body, html{
  height: 100%;
  width: 100%;
}