<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Page Title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" media="screen" href="/public/css/main.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link rel="stylesheet" href="/public/css/odometer-theme-default.css" />
        <script src="/public/js/odometer.js"></script>
    </head>
<body>
    <div id = "usa_debt_container">
        <div class="usa_debt_block">
                <div id="odometer" class="odometer"> </div>
                <div id = "level_container">
                        <img id = "picture_lvl" src="/public/pictures/test.jpg" alt="Vatnik" width="100">
                        <div id = "text_container">
                                <h3 id="head_lvl">Ватник обыкновенный</h3> 
                                <h4 id="text_lvl">Америка в долгу у всего мира!</h4>
                        </div>
                </div>
        </div>

    </div>
</body>
<script src="/public/js/game.js"></script>
<script>
    var game = new Game(odometer, 217730682003000);
</script>
</html>