<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Page Title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" media="screen" href="/public/css/main.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link rel="stylesheet" href="/public/css/odometer-theme-default.css" />
        <script src="/public/js/odometer.js"></script>
    </head>
<body>
    <div id = "usa_debt_container">
        <div>
                <div id="odometer" class="odometer"> </div>
        </div>
        <div>
            <div id = "level_container">
                    <img id = "picture_lvl" src="/public/pictures/test.jpg" alt="Vatnik" width="100">
                    <h4 id="text_lvl">Если вы посмотрите на графики — госдолг США идет вверх по экспоненте. В математике это называют режимом с обострением. Когда система входит в такой режим, она неизбежно разрушается. Американской гегемонии все равно придет конец — это объективный закон</h4>
            </div>
        </div>
    </div>
</body>
<script src="/public/js/game.js"></script>
<script>
    var game = new Game(odometer, 217730682003000);
</script>
</html>